@import url('../fonts/RobotoCondensed-Bold.ttf');
$topNavbarHeight: 7vh;
$navBtnBgColor: #6c757d;
$navBtnBgColorHov: #5a6268;

body {
	height: 100vh;
	user-select: none;
}

.hover-1p1p {
	transition: transform 200ms ease;
	&:hover {
		transform: scale(1.1);
		transition: transform 200ms ease;
	}
}

#topNavbar {
	height: $topNavbarHeight;
}

#leftList {
	position: absolute;
	float: left;
	width: 70%;
	height: calc((100vh - #{$topNavbarHeight}) - 30px);
	//margin-top: $topNavbarHeight;
}

#leftListPreferences {
	position: absolute;
	float: left;
	width: 25%;
	height: calc((100vh - #{$topNavbarHeight}) - 30px);
	margin-top: calc(#{$topNavbarHeight} + 30px);
}

#rightListPreferences {
	position: absolute;
	right: 0;
	width: 75%;
	height: calc((100vh - #{$topNavbarHeight}) - 30px);
	margin-top: calc(#{$topNavbarHeight} + 30px);
}

#rightList {
	float: right;
	width: 30%;
	height: calc((100vh - 30px) - 7vh);
	border-left: 1px solid #6c757d;
	//margin-top: $topNavbarHeight;
}

.robotoCondensed-700 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}

.colorWhite {
	color: white;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.dropdownStyle {
	border-radius: 0 !important;
	height: 8vh;
	background-color: $navBtnBgColor;
}

.nav-item-sq {
	background-color: $navBtnBgColor;
	height: 8vh;
	width: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.15s ease-in-out;
	&:hover {
		background-color: $navBtnBgColorHov;
		transition: background-color 0.15s ease-in-out;
	}
}

.navPadding {
	padding: 0;
}

.navTextCenter {
	padding: auto;
}

#selectContainer {
	position: relative;
	display: inline-block;
	width: 100vw;
	height: calc((100vh - #{$topNavbarHeight}) - 30px);
	overflow: hidden;
}

.verticalCenter {
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.fillHorizontal {
	width: 100vw;
}

#path {
	width: 60vw;
	margin-left: 10vw;
}

#browse {
	margin-left: 5vw;
}

.dropdown-item {
	cursor: pointer;
}

.menuText {
	transition: margin-left 0.5s ease-in;
}

.preferencesMenuItem {
	cursor: pointer;
	&:hover {
		background-color: #b3b3b3;
	}
	&:hover > .menuText {
		margin-left: 0.5vw;
		transition: margin-left 0.5s ease-in;
	}
}
